<div class="login-container">
    <img src="assets/sas_la_comptabilite_logo.png" alt="Logo SAS La Comptabilité" class="logo" />

    <h2>Connexion Intranet</h2>
    <p class="subtitle">Veuillez saisir votre code collaborateur (3 lettres).</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group code-autocomplete-container">
            <label for="collaboratorCode">Code Collaborateur</label>

            <input id="collaboratorCode" formControlName="collaboratorCode" type="text" maxlength="3" placeholder="ABC" (focus)="onFocus()" (blur)="onBlur()" />
            <ul class="suggestions-list" *ngIf="showSuggestions && (suggestions || isSearching)">
                <li *ngFor="let suggestion of suggestions" (mousedown)="selectCode(suggestion.code)"
                    class="suggestion-item">
                    <span class="code">{{ suggestion.code }}</span> -
                    <span class="name">{{ suggestion.nom }} {{ suggestion.prenom }}</span>
                </li>
            </ul>

            <div *ngIf="loginForm.get('collaboratorCode')?.touched && loginForm.get('collaboratorCode')?.invalid" class="error-validation">
                <span *ngIf="loginForm.get('collaboratorCode')?.errors?.['required']">Code requis.</span>
                <span *ngIf="loginForm.get('collaboratorCode')?.errors?.['pattern']">
                    Le code doit faire 3 lettres.
                </span>
            </div>
        </div>

        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>

        <button type="submit" class="login-button" [disabled]="isLoading">
            {{ isLoading ? 'Connexion...' : 'Se connecter' }}
        </button>
    </form>
</div>