<fieldset class="block" [formGroup]="group">
  <legend><span class="titre">INVESTISSEMENTS</span></legend>
  <table class="table" *ngIf="dotations.length">
    <thead>
      <tr>
        <th></th>
        <th class="col-n">N</th>
        <th class="col-n1">N+1</th>
        <th class="col-n2">N+2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="first-row">Dotations aux amortisssements</td>
        <td>{{ dotations[0] | number:'1.0-0':'fr-FR' }}</td>
        <td>{{ dotations[1] | number:'1.0-0':'fr-FR' }}</td>
        <td>{{ dotations[2] | number:'1.0-0':'fr-FR' }}</td>
      </tr>
    </tbody>
  </table>
  <bouton-textarea formControlName="commentaire" categorie="investissement" [data]="immobs" (tableauInvestissement)="group.get('tableau')?.setValue($event)" *ngIf="immobs"></bouton-textarea>
</fieldset>