# ------------------------------
# Node.js
# ------------------------------
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn.lock
pnpm-lock.yaml

# ------------------------------
# Build output
# ------------------------------
dist/
tmp/
out-tsc/
bazel-out/

# ------------------------------
# Angular cache
# ------------------------------
**/.angular/cache/

# ------------------------------
# Backend TypeScript build
# ------------------------------
*.js.map
backend/dist/

# ------------------------------
# Logs
# ------------------------------
logs/
*.log
libpeerconnection.log
testem.log
connect.lock

# ------------------------------
# Coverage reports
# ------------------------------
coverage/

# ------------------------------
# Environment files
# ------------------------------
.env
.env.*.local
src/environments/environment*.ts

# ------------------------------
# IDEs and editors
# ------------------------------
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ------------------------------
# Miscellaneous
# ------------------------------
.sass-cache/
typings/
.history/

# ------------------------------
# System files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Fichiers perso
# ------------------------------
*.txt
*.pdf

# ------------------------------
# Documents chatbot
# ------------------------------
documents_chatbot/

*.tsbuildinfo
