.login-page {
    .error-formulaire {
    color: rgba(253, 45, 45, 0.719);
    font-size: 0.9rem;
    margin-top: -0.5rem;
    text-align: left;
    font-weight: 500;
    }
}

.error-formulaire {
    margin-top: 10px;
    color: #b71c1c;
    font-weight: 600;
    background: #ffeaea;
    padding: 8px 12px;
    border-left: 4px solid #d32f2f;
    border-radius: 4px;
}
