.input,
.inputNumber,
.area {
  padding: 12px 14px;
  border: 1px solid var(--color-sand);
  border-radius: var(--radius-md);
  font-size: 15px;
  color: var(--color-dark);
  background: rgba(114,191,204,0.05);
  transition: all .25s ease;

  &:hover {
    border-color: var(--color-blue-light);
  }

  &:focus {
    outline: none;
    border-color: var(--color-blue-petrol);
    box-shadow: 0 0 0 3px rgba(68,122,135,.25);
    background: #fff;
  }
}

.area {
  min-height: 120px;
  resize: vertical;
  width: -webkit-fill-available;
}
