@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --color-dark: #47413c;
  --color-blue-light: #72bfcc;
  --color-blue-petrol: #447a87;
  --color-sand: #786e54;
  --color-light: #ebe3d5;

  --font-body: 'Inter', sans-serif;
  --font-title: 'Inter', sans-serif;

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-top: 6px solid var(--color-blue-petrol);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}