@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --color-dark: #47413c;
  --color-blue-light: #72bfcc;
  --color-blue-petrol: #447a87;
  --color-sand: #786e54;
  --color-light: #ebe3d5;

  --font-body: 'Inter', sans-serif;
  --font-title: 'Inter', sans-serif;

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
}
