.filter-icon {
    width: 16px;
    height: 16px;
}

.label {
    font-size: 14px;
    white-space: nowrap;
}

.sort-triangle {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;

    &.asc {
        border-bottom: 8px solid currentColor;
    }

    &.desc {
        border-top: 8px solid currentColor;
    }
}