.navbar {
  font-family: 'Neou', sans-serif;
  font-size: 1.3rem;
  color: --color-blue;
  font-weight: 700;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: relative;
  top: 0;
  z-index: 1000;
  height: var(--navbar-height);

  .container {
    padding: 0 1rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title,
  .brand,
  .links {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .brand {
    .logo-link,
    .logo {
      height: 100%;
    }
  }

  .links {
    justify-content: space-evenly;

    a {
      text-decoration: none;

      &:hover {
        color: --color-petrol;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .menu-btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }
}
