<fieldset class="block" [formGroup]="group" *ngIf="group">
    <legend>
        <label class="clickable">
        <input type="checkbox" formControlName="enabled" />
        <span class="titre">PROJET D’AFFECTATION DU RESULTAT</span>
        </label>
    </legend>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>N</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="first-row">Résultat de l’exercice</td>
            <td>{{ resEx | number:'1.0-0':'fr-FR' }}</td>
        </tr>
        <tr class="row-affectations">
            <td colspan="2">Affectations</td>
        </tr>
        <tr *ngIf="!isAssoc && !isSciIr && !isSciIs">
            <td class="indent">Réserve légale</td>
            <td><input type="number" class="inputNumber" formControlName="resLeg" step="1" /></td>
        </tr>
        <tr>
            <td *ngIf="!isAssoc" class="indent">Réserve ordinaire</td>
            <td *ngIf="isAssoc" class="indent">Fonds associatifs</td>
            <td><input type="number" class="inputNumber" formControlName="resOrd" step="1" /></td>
        </tr>
        <tr>
            <td class="indent">Report à nouveau</td>
            <td><input type="number" class="inputNumber" formControlName="report" step="1" /></td>
        </tr>
        <tr *ngIf="!isAssoc">
            <td class="indent">{{ affectation }}</td>
            <td><input type="number" class="inputNumber" formControlName="affect" step="1" /></td>
        </tr>
        </tbody>
    </table>

    <div *ngIf="messageErreur" class="error-formulaire">
        {{ messageErreur }}
    </div>
</fieldset>
