<fieldset class="block" [formGroup]="group">
  <legend>
    <span class="titre">CHARGES DE PERSONNEL</span>
  </legend>

  <table class="table">
    <thead>
      <tr>
        <th rowspan="2"></th>
        <th>N</th>
        <th *ngIf="anneeN1Existe">N-1</th>
        <th colspan="2" *ngIf="anneeN1Existe">Variation</th>
      </tr>
      <tr>
        <th>Valeur</th>
        <th *ngIf="anneeN1Existe">Valeur</th>
        <th *ngIf="anneeN1Existe">Valeur</th>
        <th *ngIf="anneeN1Existe">%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td class="first-row">Charges personnel</td>
          <td>{{ getValue('CP_N') }}</td>
          <td *ngIf="anneeN1Existe">{{ getValue('CP_N1') }}</td>
          <td *ngIf="anneeN1Existe">{{ getValue('CP_Var') }}</td>
          <td *ngIf="anneeN1Existe">{{ getValue('CP_%Var', true, true) }}</td>
      </tr>
      <tr>
          <td class="first-row">% du chiffre d'affaires</td>
          <td>{{ getValue('CP_caN') }}</td>
          <td *ngIf="anneeN1Existe">{{ getValue('CP_caN1') }}</td>
          <td class="emptyCell" *ngIf="anneeN1Existe"></td>
          <td class="emptyCell" *ngIf="anneeN1Existe"></td>
      </tr>
      <tr>
          <td class="first-row">% de la marge brute globale</td>
          <td>{{ getValue('CP_margeN') }}</td>
          <td *ngIf="anneeN1Existe">{{ getValue('CP_margeN1') }}</td>
          <td class="emptyCell" *ngIf="anneeN1Existe"></td>
          <td class="emptyCell" *ngIf="anneeN1Existe"></td>
      </tr>
      <tr>
          <td class="first-row">Nombres d'heures rémunérées</td>
          <td><input type="number" class="inputNumber" formControlName="heuresRemunN" step="1" /></td>
          <td *ngIf="anneeN1Existe"><input type="number" class="inputNumber" formControlName="heuresRemunN1" step="1" /></td>
          <td *ngIf="anneeN1Existe">{{ getValue('CP_heureVar') }}</td>
          <td *ngIf="anneeN1Existe">{{ getValue('CP_%heureVar', true, true) }}</td>
      </tr>
      <tr>
          <td class="first-row">Coût de revient horaire</td>
          <td>{{ getValue('CP_coutHorN') }}</td>
          <td *ngIf="anneeN1Existe">{{ getValue('CP_coutHorN1') }}</td>
          <td class="emptyCell" *ngIf="anneeN1Existe"></td>
          <td class="emptyCell" *ngIf="anneeN1Existe"></td>
      </tr>
    </tbody>
  </table>

  <label class="checkline inline">
    <input type="checkbox" (click)="checked()"/>
    <span>Annexe “Tableau des cotisations de travailleurs non-salariés provisionnelles pour l’année suivante”</span>
  </label>
  <label class="btn file-upload-btn" *ngIf="isChecked && !selectedFile">
    📁 Sélectionner un fichier
    <input type="file" accept="application/pdf" (change)="onFileSelected($event)" hidden />
  </label>

  <div *ngIf="errorMessage" class="error-formulaire">
    Mauvais fichier ou fichier vide.
  </div>

  <div *ngIf="selectedFile && isChecked && !errorMessage">
    <div class="selected-file">
      <span class="file-icon">📎</span>
      <span
        class="file-name clickable"
        (click)="openSelectedFile()"
        title="Ouvrir le PDF"
      >
        {{ selectedFile.name }}
      </span>
      <button class="remove-btn" (click)="removeSelectedFile()">❌ Supprimer</button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th colspan="4">Echéancier prévisionnel de Cotisations Sociales - Année {{ tabComplet.annee }}</th>
        </tr>
        <tr>
          <th>Caisse</th>
          <th>Période</th>
          <th>Date</th>
          <th>Montant</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let echeanciers of tabComplet.echeanciers">
          <tr class="caisse">
            <td colspan="4">{{ echeanciers.caisse }}</td>
          </tr>
          <tr *ngFor="let ligne of echeanciers.lignes">
            <td></td>
            <td>{{ ligne.periode }}</td>
            <td>{{ ligne.date }}</td>
            <td>{{ ligne.montant }}</td>
          </tr>
          <tr class="total">
            <td colspan="3" class="first-row">Total</td>
            <td>{{ echeanciers.total }}</td>
          </tr>
        </ng-container>
      </tbody>
      <tfoot>
        <tr class="totalAnnee">
          <td colspan="3" class="first-row">Total année {{ tabComplet.annee }}</td>
          <td>{{ tabComplet.totalAnnee }}</td>
        </tr>
      </tfoot>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th colspan="4">Echéancier prévisionnel de Cotisations Sociales - Année {{ tabPartiel.annee }}</th>
        </tr>
        <tr>
          <th>Caisse</th>
          <th>Période</th>
          <th>Date</th>
          <th>Montant</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let echeanciers of tabPartiel.echeanciers">
          <tr class="caisse">
            <td colspan="4">{{ echeanciers.caisse }}</td>
          </tr>
          <tr *ngFor="let ligne of echeanciers.lignes">
            <td></td>
            <td>{{ ligne.periode }}</td>
            <td>{{ ligne.date }}</td>
            <td>{{ ligne.montant }}</td>
          </tr>
          <tr class="total">
            <td colspan="3" class="first-row">Total</td>
            <td>{{ echeanciers.total }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</fieldset>
