<div class="login-page">
  <div class="login-card">
    <h2>Lettre de fin de mission</h2>
    <h3>{{ nomEntreprise }}</h3>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div *ngIf="errorMessage" class="error-formulaire">
        {{ errorMessage }}
      </div>

      <label>
        <span>Code client</span>
        <input type="text" formControlName="code_client" />
      </label>
      <div *ngIf="form.get('code_client')?.invalid && form.get('code_client')?.touched" class="error-formulaire">
        Le code client est requis
      </div>

      <label>
        <span>Date de début d'exercice</span>
        <input type="date" formControlName="dateDebutEx" />
      </label>
      <div *ngIf="form.get('dateDebutEx')?.invalid && form.get('dateDebutEx')?.touched" class="error-formulaire">
        La date de début d'exercice est requise
      </div>

      <label>
        <span>Date de fin d'exercice</span>
        <input type="date" formControlName="dateFinEx" />
      </label>
      <div *ngIf="form.get('dateFinEx')?.invalid && form.get('dateFinEx')?.touched" class="error-formulaire">
        La date de fin d'exercice est requise
      </div>

      <div class="actions">
        <button class="btn" type="submit">Se connecter</button>
      </div>
    </form>
  </div>
</div>
