<fieldset class="block" [formGroup]="group" *ngIf="group">
  <legend><span class="titre">CHIFFRES CLES</span></legend>
  <textarea 
      rows="4" 
      class="area"
      formControlName="comPerspective" *ngIf="anaSectorielle?.millesime && anaSectorielle?.commentaire?.trim().length">
  </textarea>
  <bouton-textarea class="reformuler" formControlName="comPerspective" buttonLabel="Reformuler" categorie="reformuler" [data]="dataPerspective" *ngIf="anaSectorielle?.millesime && anaSectorielle?.commentaire?.trim().length"></bouton-textarea>
  <table class="table">
    <thead>
      <tr>
        <th rowspan="2"></th>
        <th colspan="2">N</th>
        <th colspan="2" *ngIf="anneeN1Existe">N-1</th>
        <th colspan="2" *ngIf="anneeN1Existe">Variation</th>
      </tr>
      <tr>
        <th>Valeur</th>
        <th>%</th>
        <th *ngIf="anneeN1Existe">Valeur</th>
        <th *ngIf="anneeN1Existe">%</th>
        <th *ngIf="anneeN1Existe">Valeur</th>
        <th *ngIf="anneeN1Existe">%</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ind of indicateurs">
        <td class="first-row">{{ ind.label }}</td>
        
        <!-- N -->
        <td>{{ getValue(ind.keys.n) }}</td>
        <td>{{ ind.force100 ? '100.00' : getValue(ind.keys.pctN, true) }}</td>
        
        <!-- N-1 -->
        <td *ngIf="anneeN1Existe">{{ getValue(ind.keys.n1) }}</td>
        <td *ngIf="anneeN1Existe">{{ ind.force100 ? '100.00' : getValue(ind.keys.pctN1, true) }}</td>
        
        <!-- Variation -->
        <td *ngIf="anneeN1Existe">{{ getValue(ind.keys.var) }}</td>
        <td *ngIf="anneeN1Existe">{{ getValue(ind.keys.pctVar, true, true) }}</td>
      </tr>
    </tbody>
  </table>
</fieldset>
